.pixle {
    color: antiquewhite;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: darkblue;
}


.blogsnav {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 7%;
    gap: 20px;
}

a:hover{
    opacity: 20%;
}


a {
    background-color: rgba(98, 167, 190, 0.349);
}