.pfp {
    position: absolute;
    height: 95%;
    width: 100%;
    border-radius: 20%;
}

body {
    background-color: black;
}

#gol {
    position: absolute;
    width: 100%;
    height: 100%;    
}

.pfp{
    z-index: 100;
    opacity: 60%;
}


