.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: midnightblue;
    align-items: center;

}

.link {
    width:  80%;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    border-style: outset;    
}

.link:hover {
    opacity: 80%;
    animation:cubic-bezier(1, 0, 0, 1);
}

